USE [master]
GO
/****** Object:  Database [dbmath]    Script Date: 16/12/2020 7:23:37 pm ******/
CREATE DATABASE [dbmath]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbmath', FILENAME = N'F:\BS(Hon) IT GCG(2016-2020)\Semesterwise Data\My Database Projects\dbmath.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbmath_log', FILENAME = N'F:\BS(Hon) IT GCG(2016-2020)\Semesterwise Data\My Database Projects\dbmath_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbmath].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbmath]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](50) NULL,
	[EMPLOYEE_CONTACT] [nvarchar](50) NULL,
	[EMPLOYEE_EMAIL] [nvarchar](50) NULL,
	[EMPLOYEE_PHOTO] [nvarchar](max) NULL,
	[EMPLOYEE_ADDRESS] [nvarchar](50) NULL,
	[EMPLOYEE_CNIC] [nvarchar](50) NULL,
	[EMPLOYEE_DESIGNATION] [nvarchar](50) NULL,
	[EMPLOYEE_MONTHLY_SALARY] [numeric](18, 0) NULL,
	[EMPLOYEE_DESCRIPTION] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_EMPLOYEE_IsActive]  DEFAULT ((0)),
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXPENCES]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENCES](
	[EXPENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXPENSE_DATE] [date] NULL,
	[VOUCHER_NO] [nvarchar](50) NULL,
	[VENDOR_FID] [int] NULL,
	[USER_FID] [int] NULL,
	[HEAD_FID] [int] NULL,
	[MODES_OF_PAYMENTS_FID] [int] NULL,
	[EXPENSE_AMOUNT] [numeric](18, 0) NULL,
	[EXPENSE_DESCRIPTION] [nvarchar](max) NULL,
	[EXPENSE_PIC] [nvarchar](max) NULL,
 CONSTRAINT [PK_EXPENCES] PRIMARY KEY CLUSTERED 
(
	[EXPENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FINANCIALYEARS]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIALYEARS](
	[FINANCIALYEAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[FINANCIAL_YEAR] [nvarchar](50) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[OPENING_BALANCE] [numeric](18, 0) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_FINANCIALYEAR] PRIMARY KEY CLUSTERED 
(
	[FINANCIALYEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HEADS]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEADS](
	[HEAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[HEADTYPE_FID] [int] NULL,
	[HEAD_NAME] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[HEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HEADTYPES]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEADTYPES](
	[HEADTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[HEAD_TYPE] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_HEADTYPE_isActive]  DEFAULT ((0)),
 CONSTRAINT [PK_HEADTYPE] PRIMARY KEY CLUSTERED 
(
	[HEADTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INCOMES]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCOMES](
	[INCOME_ID] [int] IDENTITY(1,1) NOT NULL,
	[INCOME_DATE] [date] NULL,
	[VOUCHER_NO] [nvarchar](50) NULL,
	[VENDOR_FID] [int] NULL,
	[USER_FID] [int] NULL,
	[HEAD_FID] [int] NULL,
	[MODES_OF_PAYMENTS_FID] [int] NULL,
	[INCOME_AMOUNT] [numeric](18, 0) NULL,
	[INCOME_DESCRIPTION] [nvarchar](max) NULL,
	[INCOME_PIC] [nvarchar](max) NULL,
 CONSTRAINT [PK_INCOMES] PRIMARY KEY CLUSTERED 
(
	[INCOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MODES_OF_PAYMENTS]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODES_OF_PAYMENTS](
	[MODES_OF_PAYMENTS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODES_OF_PAYMENT_NAME] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_MODES_OF_PAYMENTS_isActive]  DEFAULT ((0)),
 CONSTRAINT [PK_MODES_OF_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[MODES_OF_PAYMENTS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PATIENT_INFO]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT_INFO](
	[PATIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[REGISTRATION_NO] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[FATHER_NAME] [nvarchar](50) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[DATE_OF_ADDMISSION] [date] NULL,
	[DATE_OF_DISCHARGE] [date] NULL,
	[MONTH] [nvarchar](50) NULL,
	[CONTACT] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[AGE] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[CHRONIC_MEDICAL_PROBLEM] [nvarchar](max) NULL,
	[CMP_SPECIFY] [nvarchar](max) NULL,
	[REGULARLY_TAKING_OR_SHOULD_BE_TAKING_PRESCRIBED_MEDICATION] [nvarchar](max) NULL,
	[EDUCATION] [nvarchar](max) NULL,
	[OCCUPATION] [nvarchar](max) NULL,
	[DRUG_TYPE] [nvarchar](max) NULL,
	[R_O_A] [nvarchar](max) NULL,
	[REASON_FOR_SUBSTANCE_USE] [nvarchar](max) NULL,
	[HOW_MANY_TIMES_BEFORE_TREATED_FOR_SUBSTANCE_USE] [nvarchar](max) NULL,
	[REASON_BEHIND_RELAPSE] [nvarchar](max) NULL,
	[HAVING_EVER_BEEN_ARRESTED_AND_CHARGED_FOR_ANY_CRIME] [nvarchar](max) NULL,
	[HC_SPECIFY] [nvarchar](max) NULL,
	[MARITAL_STATUS] [nvarchar](max) NULL,
	[LIVES_WITH_ANY_ONE_WHO_ABUSES_DRUGS_ALCOHAL] [nvarchar](max) NULL,
	[LDA_SPECIFIER] [nvarchar](max) NULL,
	[YOU_HAD_EXPERIENCED_SERIOUS_PROBLEM_WITH_YOUR_FAMILY_OTHER_SIGNIFICANT_FAMILY] [nvarchar](max) NULL,
	[SF_SPECIFY] [nvarchar](max) NULL,
	[HAS_ANY_ONE_ABUSED_YOU] [nvarchar](max) NULL,
	[EXPERIENCED_SERIOUS_DEPRESSION_MOOD_SWINGS_WHICH_INTERFARE_WITH_LIFE] [nvarchar](max) NULL,
	[EXPERIENCED_SERIOUS_ANXIOUSNESS_OR_TENSE_ANXIETY_OR_PANIC_ATTACKS] [nvarchar](max) NULL,
	[EXPERIENCES_TROUBLE_CONCENTRATING_UNDERSTANDING_REMEMBERING_VISUAL_OR_AUDIO_HALLUCINATIONS] [nvarchar](max) NULL,
	[TEMPER_OR_VIOLENT_BEHAVIOUR_CONTROL_PROBLEMS] [nvarchar](max) NULL,
	[PLAN_TO_HURT_OR_KILL_SOMEONE] [nvarchar](max) NULL,
	[SERIOUS_PLAN_FOR_KILLING_SELF] [nvarchar](max) NULL,
	[SUCIDE_ATTEMPTS] [nvarchar](max) NULL,
	[USER_FID] [int] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_PATIENT_INFO_IsActive]  DEFAULT ((0)),
 CONSTRAINT [PK_PATIENT_INFO] PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERTYPE_FID] [int] NULL,
	[EMPLOYEE_FID] [int] NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[USER_PASSWORD] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_USERS_IsActive]  DEFAULT ((0)),
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERTYPES]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERTYPES](
	[USERTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_TYPE] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_USERTYPE_IsActive]  DEFAULT ((0)),
 CONSTRAINT [PK_USERTYPE] PRIMARY KEY CLUSTERED 
(
	[USERTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDORS]    Script Date: 16/12/2020 7:23:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDORS](
	[VENDOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[VENDOR_NAME] [nvarchar](50) NULL,
	[VENDOR_PIC] [nvarchar](max) NULL,
	[VENDOR_ADDRESS] [nvarchar](max) NULL,
	[VENDOR_PHONE] [nvarchar](50) NULL,
	[VENDOR_DESCRIPTION] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_VENDORS_isActive]  DEFAULT ((0)),
 CONSTRAINT [PK_VENDORS] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EMPLOYEES] ON 

INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_CONTACT], [EMPLOYEE_EMAIL], [EMPLOYEE_PHOTO], [EMPLOYEE_ADDRESS], [EMPLOYEE_CNIC], [EMPLOYEE_DESIGNATION], [EMPLOYEE_MONTHLY_SALARY], [EMPLOYEE_DESCRIPTION], [IsActive]) VALUES (2004, N'Yasir ', N'03078557916', N'786yasir@gmail.com', N'~/images/AirBrush_20171103185155.jpg', N'Gujranwala', N'3410170865425', N'Director', CAST(10000 AS Numeric(18, 0)), N'absdlakh', 1)
SET IDENTITY_INSERT [dbo].[EMPLOYEES] OFF
SET IDENTITY_INSERT [dbo].[EXPENCES] ON 

INSERT [dbo].[EXPENCES] ([EXPENSE_ID], [EXPENSE_DATE], [VOUCHER_NO], [VENDOR_FID], [USER_FID], [HEAD_FID], [MODES_OF_PAYMENTS_FID], [EXPENSE_AMOUNT], [EXPENSE_DESCRIPTION], [EXPENSE_PIC]) VALUES (2007, CAST(N'2020-09-02' AS Date), N'200', 3, 5, 3, 4, CAST(1000 AS Numeric(18, 0)), N'xyz', N'images/Screenshot (2).png')
INSERT [dbo].[EXPENCES] ([EXPENSE_ID], [EXPENSE_DATE], [VOUCHER_NO], [VENDOR_FID], [USER_FID], [HEAD_FID], [MODES_OF_PAYMENTS_FID], [EXPENSE_AMOUNT], [EXPENSE_DESCRIPTION], [EXPENSE_PIC]) VALUES (2008, CAST(N'2020-09-02' AS Date), N'909090', 3, 5, 3, 4, CAST(90000 AS Numeric(18, 0)), N'', N'images/')
SET IDENTITY_INSERT [dbo].[EXPENCES] OFF
SET IDENTITY_INSERT [dbo].[HEADS] ON 

INSERT [dbo].[HEADS] ([HEAD_ID], [HEADTYPE_FID], [HEAD_NAME], [isActive]) VALUES (1, 2, N'Fee', 1)
INSERT [dbo].[HEADS] ([HEAD_ID], [HEADTYPE_FID], [HEAD_NAME], [isActive]) VALUES (2, 2, N'Donation', 1)
INSERT [dbo].[HEADS] ([HEAD_ID], [HEADTYPE_FID], [HEAD_NAME], [isActive]) VALUES (3, 3, N'Advertisement', 1)
SET IDENTITY_INSERT [dbo].[HEADS] OFF
SET IDENTITY_INSERT [dbo].[HEADTYPES] ON 

INSERT [dbo].[HEADTYPES] ([HEADTYPE_ID], [HEAD_TYPE], [isActive]) VALUES (2, N'Income', 1)
INSERT [dbo].[HEADTYPES] ([HEADTYPE_ID], [HEAD_TYPE], [isActive]) VALUES (3, N'Expence', 1)
SET IDENTITY_INSERT [dbo].[HEADTYPES] OFF
SET IDENTITY_INSERT [dbo].[INCOMES] ON 

INSERT [dbo].[INCOMES] ([INCOME_ID], [INCOME_DATE], [VOUCHER_NO], [VENDOR_FID], [USER_FID], [HEAD_FID], [MODES_OF_PAYMENTS_FID], [INCOME_AMOUNT], [INCOME_DESCRIPTION], [INCOME_PIC]) VALUES (8, CAST(N'2020-09-02' AS Date), N'200', 3, 5, 3, 4, CAST(1000 AS Numeric(18, 0)), N'xyz', N'images/Screenshot (2).png')
INSERT [dbo].[INCOMES] ([INCOME_ID], [INCOME_DATE], [VOUCHER_NO], [VENDOR_FID], [USER_FID], [HEAD_FID], [MODES_OF_PAYMENTS_FID], [INCOME_AMOUNT], [INCOME_DESCRIPTION], [INCOME_PIC]) VALUES (9, CAST(N'2020-09-02' AS Date), N'200', 3, 5, 1003, 4, CAST(500 AS Numeric(18, 0)), N'', N'images/')
INSERT [dbo].[INCOMES] ([INCOME_ID], [INCOME_DATE], [VOUCHER_NO], [VENDOR_FID], [USER_FID], [HEAD_FID], [MODES_OF_PAYMENTS_FID], [INCOME_AMOUNT], [INCOME_DESCRIPTION], [INCOME_PIC]) VALUES (10, CAST(N'2020-09-02' AS Date), N'200', 3, 5, 1003, 4, CAST(500 AS Numeric(18, 0)), N'', N'images/')
SET IDENTITY_INSERT [dbo].[INCOMES] OFF
SET IDENTITY_INSERT [dbo].[MODES_OF_PAYMENTS] ON 

INSERT [dbo].[MODES_OF_PAYMENTS] ([MODES_OF_PAYMENTS_ID], [MODES_OF_PAYMENT_NAME], [isActive]) VALUES (4, N'Cash', 1)
SET IDENTITY_INSERT [dbo].[MODES_OF_PAYMENTS] OFF
SET IDENTITY_INSERT [dbo].[PATIENT_INFO] ON 

SET IDENTITY_INSERT [dbo].[PATIENT_INFO] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USER_ID], [USERTYPE_FID], [EMPLOYEE_FID], [USER_NAME], [USER_PASSWORD], [IsActive]) VALUES (5, 4, 2004, N'yasirrehman', N'admin786', 1)
INSERT [dbo].[USERS] ([USER_ID], [USERTYPE_FID], [EMPLOYEE_FID], [USER_NAME], [USER_PASSWORD], [IsActive]) VALUES (6, 1005, 2004, N'irfan', N'admin786', 1)
INSERT [dbo].[USERS] ([USER_ID], [USERTYPE_FID], [EMPLOYEE_FID], [USER_NAME], [USER_PASSWORD], [IsActive]) VALUES (7, 1004, 2004, N'patient', N'1212', 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
SET IDENTITY_INSERT [dbo].[USERTYPES] ON 

INSERT [dbo].[USERTYPES] ([USERTYPE_ID], [USER_TYPE], [IsActive]) VALUES (3, N'Admin', 1)
INSERT [dbo].[USERTYPES] ([USERTYPE_ID], [USER_TYPE], [IsActive]) VALUES (4, N'Director', 1)
INSERT [dbo].[USERTYPES] ([USERTYPE_ID], [USER_TYPE], [IsActive]) VALUES (1004, N'Data Entry Operator', 1)
SET IDENTITY_INSERT [dbo].[USERTYPES] OFF
SET IDENTITY_INSERT [dbo].[VENDORS] ON 

INSERT [dbo].[VENDORS] ([VENDOR_ID], [VENDOR_NAME], [VENDOR_PIC], [VENDOR_ADDRESS], [VENDOR_PHONE], [VENDOR_DESCRIPTION], [isActive]) VALUES (3, N'Salman', NULL, N'Lahore', N'03078557916', N'xyz', 1)
SET IDENTITY_INSERT [dbo].[VENDORS] OFF
ALTER TABLE [dbo].[FINANCIALYEARS] ADD  CONSTRAINT [DF_FINANCIALYEAR_isActive]  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[EXPENCES]  WITH CHECK ADD  CONSTRAINT [FK_EXPENCES_HEADS] FOREIGN KEY([HEAD_FID])
REFERENCES [dbo].[HEADS] ([HEAD_ID])
GO
ALTER TABLE [dbo].[EXPENCES] CHECK CONSTRAINT [FK_EXPENCES_HEADS]
GO
ALTER TABLE [dbo].[EXPENCES]  WITH CHECK ADD  CONSTRAINT [FK_EXPENCES_MODES_OF_PAYMENTS] FOREIGN KEY([MODES_OF_PAYMENTS_FID])
REFERENCES [dbo].[MODES_OF_PAYMENTS] ([MODES_OF_PAYMENTS_ID])
GO
ALTER TABLE [dbo].[EXPENCES] CHECK CONSTRAINT [FK_EXPENCES_MODES_OF_PAYMENTS]
GO
ALTER TABLE [dbo].[EXPENCES]  WITH CHECK ADD  CONSTRAINT [FK_EXPENCES_USERS] FOREIGN KEY([USER_FID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[EXPENCES] CHECK CONSTRAINT [FK_EXPENCES_USERS]
GO
ALTER TABLE [dbo].[EXPENCES]  WITH CHECK ADD  CONSTRAINT [FK_EXPENCES_VENDORS] FOREIGN KEY([VENDOR_FID])
REFERENCES [dbo].[VENDORS] ([VENDOR_ID])
GO
ALTER TABLE [dbo].[EXPENCES] CHECK CONSTRAINT [FK_EXPENCES_VENDORS]
GO
ALTER TABLE [dbo].[HEADS]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_HEADTYPE] FOREIGN KEY([HEADTYPE_FID])
REFERENCES [dbo].[HEADTYPES] ([HEADTYPE_ID])
GO
ALTER TABLE [dbo].[HEADS] CHECK CONSTRAINT [FK_Table_1_HEADTYPE]
GO
ALTER TABLE [dbo].[INCOMES]  WITH CHECK ADD  CONSTRAINT [FK_INCOMES_HEADS] FOREIGN KEY([HEAD_FID])
REFERENCES [dbo].[HEADS] ([HEAD_ID])
GO
ALTER TABLE [dbo].[INCOMES] CHECK CONSTRAINT [FK_INCOMES_HEADS]
GO
ALTER TABLE [dbo].[INCOMES]  WITH CHECK ADD  CONSTRAINT [FK_INCOMES_MODES_OF_PAYMENTS] FOREIGN KEY([MODES_OF_PAYMENTS_FID])
REFERENCES [dbo].[MODES_OF_PAYMENTS] ([MODES_OF_PAYMENTS_ID])
GO
ALTER TABLE [dbo].[INCOMES] CHECK CONSTRAINT [FK_INCOMES_MODES_OF_PAYMENTS]
GO
ALTER TABLE [dbo].[INCOMES]  WITH CHECK ADD  CONSTRAINT [FK_INCOMES_USERS] FOREIGN KEY([USER_FID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[INCOMES] CHECK CONSTRAINT [FK_INCOMES_USERS]
GO
ALTER TABLE [dbo].[INCOMES]  WITH CHECK ADD  CONSTRAINT [FK_INCOMES_VENDORS] FOREIGN KEY([VENDOR_FID])
REFERENCES [dbo].[VENDORS] ([VENDOR_ID])
GO
ALTER TABLE [dbo].[INCOMES] CHECK CONSTRAINT [FK_INCOMES_VENDORS]
GO
ALTER TABLE [dbo].[PATIENT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_PATIENT_INFO_USER] FOREIGN KEY([USER_FID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[PATIENT_INFO] CHECK CONSTRAINT [FK_PATIENT_INFO_USER]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USER_EMPLOYEE] FOREIGN KEY([EMPLOYEE_FID])
REFERENCES [dbo].[EMPLOYEES] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USER_EMPLOYEE]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USER_USERTYPE] FOREIGN KEY([USERTYPE_FID])
REFERENCES [dbo].[USERTYPES] ([USERTYPE_ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USER_USERTYPE]
GO
USE [master]
GO
